*, *:before, *:after {
  box-sizing: border-box;
}

body {
  width: 40%;
  margin: 0 auto;
  background-color: #FAFAFA;
}

li {
  list-style: none;
}

h1 {
  font-size: 4.5em;
  text-align: center;
  background-color: #2196f3;
  font-weight: lighter;
  color: #000000;
}

label {
  font-size: 1em;
  font-weight: lighter;
  padding-left: 16px;
}

form, ul {
  padding-left: 20%;
}

.my-mixed_case.mdl-button {
   text-transform: none;
}

button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 8px;
  border: none;
  border-radius: 2px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
  text-transform: none;
}
